# =========================
# ENVIRONNEMENT VIRTUEL
# =========================
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# MODELES ML (optionnel mais recommandé)
# =========================
deploiement_modele_ml/models/*.pkl

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEME
# =========================
.DS_Store
