# =========================
# ENVIRONNEMENT VIRTUEL
# =========================
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEME
# =========================
.DS_Store

# =========================
# ENV FILES (SECRETS)
# =========================
.env
